:root {
    --blue: #1e90ff;
    --sky_blue : #D0F5FC;
    --white: #ffffff;
    --black: black;
  }
.txt_title {
    font-size: 16px;
    color: --blue;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}