<div class="input-dialog-container">
    <div class="dialog-title">View Consultor</div>
  
    <div class="btn-close" (click)="closeDialog()">
    </div>
    <div class="title-content-devider"></div>
  
    <div class="dialog-input-fields">
  
        <div class="view-data">
            <label for="con_id" class="label">Consultor Id</label>
            <p title="{{consultorModel.con_id | empty}}" class="data">{{consultorModel.con_id | empty}}</p>
          </div>
      <div class="view-data">
        <label for="speDescription" class="label">Specialization Description</label>
        <p title="{{consultorModel.speDescription | empty}}" class="data">{{consultorModel.speDescription | empty}}</p>
      </div>
      <div class="view-data">
        <label for="username" class="label">User Name</label>
        <p title="{{consultorModel.username | empty}}" class="data">{{consultorModel.username | empty}}</p>
      </div>
      <div class="view-data">
        <label for="fullName" class="label">Full Name</label>
        <p title="{{consultorModel.fullName | empty}}" class="data">{{consultorModel.fullName
            | empty}}</p>
      </div>
      <div class="view-data">
        <label for="nic" class="label">NIC</label>
        <p title="{{consultorModel.nic | empty}}" class="data">{{consultorModel.nic | empty}}</p>
      </div>
      <div class="view-data">
        <label for="email" class="label">Email</label>
        <p title="{{consultorModel.email | empty}}" class="data">{{consultorModel.email | empty}}</p>
      </div>
      <div class="view-data">
        <label for="mobileNo" class="label">Mobile No</label>
        <p title="{{consultorModel.mobileNo | empty}}" class="data">{{consultorModel.mobileNo | empty}}</p>
      </div>
      <div class="view-data">
        <label for="city" class="label">City</label>
        <p title="{{consultorModel.city | empty}}" class="data">{{consultorModel.city | empty}}</p>
      </div>
      <div class="view-data">
        <label for="Status" class="label">Status</label>
        <p title="{{consultorModel.statusDescription | empty}}" class="data">{{consultorModel.statusDescription | empty}}</p>
      </div>
    

      <div class="view-data">
        <label for="createdUser" class="label">Created User</label>
        <p title="{{consultorModel.createdUser | empty}}" class="data">{{consultorModel.createdUser | empty}}</p>
      </div>
      <div class="view-data">
        <label for="lastUpdatedUser" class="label">Last Updated User</label>
        <p title="{{consultorModel.lastUpdatedUser | empty}}" class="data">{{consultorModel.lastUpdatedUser | empty}}</p>
      </div>
      <div class="view-data">
        <label for="createdTime" class="label">Created date & Time</label>
        <p title="{{consultorModel.createdTime | empty}}" class="data">{{consultorModel.createdTime | empty}}</p>
      </div>
      <div class="view-data">
        <label for="lastUpdatedTime" class="label">Last Updated date & Time</label>
        <p title="{{consultorModel.lastUpdatedTime | empty}}" class="data">{{consultorModel.lastUpdatedTime | empty}}</p>
      </div>
      
      
    </div>
  </div>